<ul>
  <% @bands.each do |band| %>
    <li> <%= link_to "#{band.name}", band_path(band) %> </li>
  <% end %>
</ul>

<%= link_to "Add a new Band", new_band_path %><br>
<!--%= link_to "Add a new Band", new_band_path %><br>
<%= link_to "Add a new Band", new_track_path %-->
