<% name = ["Josh Lyman", "CJ Cregg", "Toby Zeigler", "Sam Seaborn", "Leo McGarry"] %>

<h1>Contact</h1>

<div class="row">
  <div class="col-xs-6">
    <form action="#" method="post">
      <input type="button" name="button" value="Hi!" class="btn btn-primary">
    </form>
  </div>

  <div class="col-xs-6">
    <table class="table table-striped">
      <tr>
        <th>
          Name
        </th>
        <th>
          Phone #
        </th>
      </tr>
      <% name.each do |name| %>
        <tr>
          <td>
            <%= name %>
          </td>
          <td>
            <%= gen_pn %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
