<h2>New User</h2>

<form action="<%= users_path %>" method="post">
  <%= auth_token %>

  <label> Username:
    <input type="text" name="user[username]" id="username" value="<%= @user.username %>">
  </label>

  <label> Password:
    <input type="password" name="user[password]" id="password">
  </label>

  <input type="submit" value="Submit">
</form>
