<form action=" <%= track_notes_path(track) %> " method="post">
  <%= auth_token %>

  <h5>Add Note:</h5>
  <textarea name="note[body]" rows="8" cols="40"></textarea>
  <br>

  <input type="submit" value="Submit Note!">

</form>

<br><br>
