/* PHASE 6: Sidebar */
.profile-picture {
  background-image: url("../../shared/img/cat.jpg");
  background-size: cover;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin-top: -120px;
  position: relative;
}

.profile-info h1{
  font-size: 24px;
  padding: 20px 0px;
}

.profile-info p{
  font-weight: normal;
  padding-bottom: 20px;
}

.profile-nav-item{
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

.profile-nav-item:hover{
  background: #eee;
}

.profile-nav-item:first-of-type{
  border-top: 1px solid lightgrey;
}
